$black: #161515;
$ease: cubic-bezier(.74,.15,.04,.96);
$ease-bounce: cubic-bezier(.25, .46, .18, 1.3);

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
}

@keyframes dial {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.5);
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: 1;
  animation: appear .5s .1s backwards;
}

.digital,
.analog {
  margin: 1vmin;
}

.analog {
  z-index: 1;
  transform: scale(1);
  animation: scale .5s .1s backwards $ease-bounce;

  .dial,
  .face,
  .marker {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
  }

  .dial,
  .face {
    z-index: 1;
  }

  .dial {
    border-radius: 50%;
    background-color: $black;
    animation: dial .5s .1s both $ease-bounce;
  }

  .face {
    opacity: 1;
    animation: appear .5s .6s backwards;
  }

  .marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    margin: -2px;
    border-radius: 50%;
    background-color: $black;
  }

  .minutes-container,
  .minute-hand-container,
  .hours-container {
    width: 100%;
    height: 100%;
    transition: transform 1s $ease;
  }

  .minutes-container {
    mix-blend-mode: multiply;
  }

  .hours {
    animation: rotate 43200s linear infinite;
  }
  .minutes,
  .minute-hand {
    animation: rotate 3600s linear infinite;
  }
  .hours,
  .minutes {
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(images/clock-hand.png);
    -webkit-mask-size: 100%;
    border-radius: 50%;
    overflow: hidden;
  }

  .minutes-container,
  .minute-hand-container {
    margin-top: -100%;
  }

  .minute-hand {
    width: 4px;
    height: 50%;
    margin-left: calc(50% - 2px);
    transform-origin: bottom;
    box-shadow: -1px 0 15px 0 rgba(0,0,0,.2);
  }

  &.speed-50 {
    .hours {
      animation-duration: 86.4s;
    }
    .minutes,
    .minute-hand {
      animation-duration: 7.2s;
    }
  }

  &.speed-100 {
    .hours {
      animation-duration: 43.2s;
    }
    .minutes,
    .minute-hand {
      animation-duration: 3.6s;
    }
  }
}

.digital {
  font-family: system-ui;
  font-weight: 200;
  font-size: 10vmin;
  -webkit-font-smoothing: subpixel-antialiased;
  color: white;
  text-shadow: 1px 1px 2px $black;
  animation: appear .5s .6s backwards;
  opacity: .8;
  z-index: 1;
}

.date,
.time {
  display: block;
  line-height: 1;
}

.date {
  font-size: .3em;
  letter-spacing: .06em;
  text-align: right;
}

.time {
  font-size: 1em;
}