{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-react-jsx", {"pragma": "h"}]
  ]
}