@import "../../bower_components/reset-scss/reset";

$watch-size: 250px;
$hour-color: #9e6ab9;
$minute-color: #c3205a;
$black: #111111;

body {
  overflow: hidden;

  & > * {
    perspective: 100px;
    backface-visibility: hidden;
    transform: translateZ(0);
  }
}

#fs-bg {
  position: fixed;
  opacity: 0;
  transition: opacity 1s;
  z-index: -1;

  body.loaded & {
    opacity: 1;
  }
}

#watch {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: $watch-size;
  height: $watch-size;
  z-index: 2;

  .center-shadow feFlood,
  .inset-shadow feFlood {
    flood-color: $black;
  }

  circle {
    cx: $watch-size/2;
    cy: $watch-size/2;
  }

  #overlay-clip rect {
    x: 0;
    y: $watch-size/2;
    width: $watch-size;
    height: $watch-size/2;
  }

  .mask-a rect,
  .mask-b rect {
    width: $watch-size/2;
    height: $watch-size/2;
    transform: rotate(0deg);
    transform-origin: $watch-size/2 $watch-size/2;
  }

  .angle-rect {
    width: $watch-size;
    height: $watch-size;
    fill: white;
  }

  #hour,
  #minute,
  #minute-hand {
    r: $watch-size/2;
    transform: rotate(0deg);
  }

  .center {
    r: $watch-size/4;
  }

  #hour,
  #minute,
  #minute-hand,
  .center {
    transform: scale(0);
  }

  #hour,
  #minute,
  .center {
    transform-origin: center;
  }

  #hour {
    fill: $hour-color;
  }

  .minute-group {
    fill: $minute-color;
  }

  #minute {
    mix-blend-mode: multiply;
  }

  #minute-hand {
    x: 0;
    y: $watch-size/2;
    width: $watch-size/2;
    height: 1.2%;
    transform-origin: top right;
    mix-blend-mode: screen;
    opacity: 0;
  }

  #markers {
    fill: $black;
    opacity: 0;
    circle {
      cx: $watch-size - $watch-size/7.5;
      cy: $watch-size/2;
      r: 1%;
      transform: rotate(0deg);
      transform-origin: $watch-size/2 $watch-size/2;
    }
  }

  #watch-shadow {
    r: $watch-size/2;
    opacity: 0;
    transition: opacity .5s;

    body.loaded & {
      opacity: .5;
    }
  }
}

#digital {
  position: fixed;
  right: $watch-size + 20;
  bottom: 10px;
  font-weight: lighter;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 2px $black;
  font-size: 65px;
  z-index: 2;
  transition: opacity .5s;
  opacity: 0;
  z-index: 1;

  body.loaded & {
    opacity: .7;
  }

  .date {
    font-size: .26em;
    letter-spacing: 1px;
    text-align: right;
  }

  .time {
    font-size: 1em;

    span {
      display: block;
      float: left;
    }

    .am-pm {
      margin-left: 10px;
    }

    .colon {
      margin-right: 1px;
      position: relative;
      bottom: 4px;
    }

    .minutes .one:first-child {
      margin-left: -8px;
    }

    .hour .one:last-child {
      margin-right: -2px;
    }

    .one {
      letter-spacing: -6px;
      margin-left: -6px;
    }
  }
}