@import "../../bower_components/reset-scss/reset";

$watch-size: 250px;
$hour-color: #9e6ab9;
$minute-color: #c3205a;
$black: #111111;

body {
  overflow: hidden;

  &.loaded {
    #fs-bg {
      opacity: 1;
    }
    #watch #watch-shadow {
      opacity: .5;
    }
    #digital {
      opacity: .7;
    }
  }
}

#fs-bg {
  position: fixed;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}

#watch {
  perspective: 200px;
  backface-visibility: hidden;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: $watch-size;
  height: $watch-size;
  z-index: 2;

  .center-shadow feFlood,
  .inset-shadow feFlood {
    flood-color: $black;
  }

  circle {
    cx: $watch-size/2;
    cy: $watch-size/2;
  }

  #overlay-clip rect {
    x: 0;
    y: $watch-size/2;
    width: $watch-size;
    height: $watch-size/2;
  }

  .mask-a rect,
  .mask-b rect {
    width: $watch-size/2;
    height: $watch-size/2;
  }

  .angle-rect {
    width: $watch-size;
    height: $watch-size;
    fill: white;
  }

  #hour,
  #minute {
    transform-origin: center;
  }

  #hour {
    fill: $hour-color;
  }

  .minute-group {
    fill: $minute-color;
  }

  #minute {
    mix-blend-mode: multiply;
  }

  #minute-hand {
    x: 0;
    y: $watch-size/2;
    width: $watch-size/2;
    height: 1.2%;
    transform-origin: top right;
    mix-blend-mode: screen;
    opacity: 0;
  }

  #markers {
    fill: $black;
    opacity: 0;
    circle {
      cx: $watch-size - $watch-size/7.5;
      cy: $watch-size/2;
      r: 1%;
    }
  }

  #watch-shadow {
    r: $watch-size/2;
    opacity: 0;
    transition: opacity .5s; 
  }
}

#watch-bak {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 210px;
  height: 210px;
  background: rgba(255,255,255,.5);
  border-radius: 50%;
  z-index: 2;
  transform: perspective(600px);
  
  li {
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 210px;
  }

  .multiply {
    mix-blend-mode: multiply;
  }

  .rotate[data-init="false"] {
    transform: perspective(600px);
    transition: transform 1.2s ease;
  }

  .circle {
    border-radius: 50%;
  }

  .minutes,
  .hour {
    @extend .multiply;
    @extend .rotate;
    @extend .circle;
  }

  .minutes {
    transform: rotate(0deg);
  }

  .hour {
    transform: rotate(6deg);
  }

  .center {
    @extend .circle;
    width: 50%;
    height: 50%;
    background-color: #191d1f;
    margin-left: 25%;
    margin-top: 25%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.8);
  }

  .minute-hand {
    @extend .rotate;
    width: 4px;
    height: 50%;
    left: calc(50% - 2px);
    background-color: rgb(0,215,255);
    transform-origin: bottom;
  }

  .indicators {
    background-image: url(../images/indicators.png);
  }
}

#digital {
  position: fixed;
  right: $watch-size + 20;
  bottom: 10px;
  font-weight: lighter;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 2px $black;
  font-size: 65px;
  z-index: 2;
  transition: all .5s;
  opacity: 0;

  .date {
    font-size: .26em;
    letter-spacing: 1px;
    text-align: right;
  }

  .time {
    font-size: 1em;

    span {
      display: block;
      float: left;
    }

    .am-pm {
      margin-left: 10px;
    }

    .colon {
      margin-right: 1px;
      position: relative;
      bottom: 4px;
    }

    .minutes .one:first-child {
      margin-left: -8px;
    }

    .hour .one:last-child {
      margin-right: -2px;
    }

    .one {
      letter-spacing: -6px;
      margin-left: -6px;
    }
  }
}