* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
h2 {
  font-weight: lighter;
}

.page-header {
  text-align: center;
}
.screenshot {
  display: block;
  margin: 5vh auto;
  max-width: 50%;
}