* {
  box-sizing: border-box;
}

html {
  background-size: cover;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  color: #656d75;
}
a.btn {
  text-decoration: none;
  display: inline-block;
  max-width: 90%;
  padding: 8px 20px;
  margin: 10px 0;
  border: 2px solid #1e281e;
  border-radius: 4px;
  font-size: 22px;
  color: #1e281e;
}
h2 {
  font-weight: 300;
  letter-spacing: .5px;
}
.page-header {
  text-align: center;
}
.logo {
  margin-top: 30px;
}
.screenshot {
  display: block;
  margin: 20px auto 0;
  max-height: calc(100vh - 370px);
  max-width: 95%;
}
@media(min-width: 729px) {
}