* {
  box-sizing: border-box;
}

html {
  background-size: cover;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  color: #656d75;
}
a.btn {
  text-decoration: none;
  display: inline-block;
  max-width: 90%;
  padding: 8px 20px;
  margin: 10px 0;
  border: 4px solid #1e281e;
  border-radius: 4px;
  font-size: 22px;
  color: #1e281e;
  background: rgba(255,255,255,.4);
}
h2 {
  font-weight: 300;
}
.page-header {
  text-align: center;
  padding-top: 10px;
}
.project-tagline {
  padding: 0 20px;
}
.logo {
  width: 220px;
}
.screenshot {
  display: block;
  margin: 20px auto 0;
  max-height: calc(100vh - 370px);
  max-width: 95%;
}